<h1>Index page for visited page</h1>

<h2>Continents Visited</h2>

<% for continent in @continents %>
  <p><%= continent.name %></p>
<% end %>
<hr />

<h2>Countries Visited</h2>

<% for country in @countries %>
  <p><%= country.name %></p>
<% end %>
<hr />

<h2>Cities Visited</h2>

<% for city in @cities %>
  <p><%= city.name %></p>
<% end %>
<hr />

<h2>Sights Seen</h2>

<% for sight in @sights %>
  <p><%= sight.name %></p>
<% end %>
<hr />
