<h1>Index page for visited</h1>

<button><a href="/visited/new">Add new</a></button>

<h2>Continents Visited</h2>

<% for continent in @continents %>
  <p><%= continent.name %></p>
  <button><a href="/visited/">Show trip</a></button>
  <button><a href="">Edit Trip</a></button>
  <button><a href="">Delete trip</a></button>
<% end %>
<hr />

<h2>Countries Visited</h2>

<% for country in @countries %>
  <p><%= country.name %></p>
  <button><a href="">Show trip</a></button>
  <button><a href="">Edit Trip</a></button>
  <button><a href="">Delete trip</a></button>
<% end %>
<hr />

<h2>Cities Visited</h2>

<% for city in @cities %>
  <p><%= city.name %></p>
  <button><a href="">Show trip</a></button>
  <button><a href="">Edit Trip</a></button>
  <button><a href="">Delete trip</a></button>
<% end %>
<hr />

<h2>Sights Seen</h2>

<% for sight in @sights %>
  <p><%= sight.name %></p>
  <button><a href="">Show trip</a></button>
  <button><a href="">Edit Trip</a></button>
  <button><a href="">Delete trip</a></button>
<% end %>

<hr />
