<h1>Welcome to WhereTo?</h1>

<button onclick="window.location.href = '/countries';">View Countries</button>
<button onclick="window.location.href = '/cities';">View Cities</button>
<button onclick="window.location.href = '/sights';">View Sights</button>
