<h1>Welcome to WhereTo?</h1>


<button onclick="window.location.href = '/visited';">Where I've Been</button>
<button onclick="window.location.href = '/new';">Add new</button>
<button onclick="window.location.href = '/destinations';">Where I'm Going</button>
