<!DOCTYPE html>
<html lang="en">
<head>
  <link href="data:image/x-icon;base64,AAABAAEAEBAQAAAAAAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAAAAAAAAAACAEAAAAAAAl9GgAEQGYAA1SHAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAERAAAAAAABEREQREREQBERERE0REQxERERERNEQxERERERETRDERERERERNEMREREiERE0QxESESIhETQAESIhIiIRAAASIiEiIiIAMiIiIRIiIiIiIiIRESIiIiIiIRERESIiIiIiERESIiIiIiEREREiIREiERERERERERERHgAwAA8AcAAPgPAAD8HwAA/h8AAP4fAACeHQAAjhgAAIYQAACAAAAAwAEAAOADAAD4AQAA8AMAAPjnAAD//wAA" rel="icon" type="image/x-icon" />
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:400,600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/style.css">
  <title>WhereTo?</title>
</head>
<body>
  <div class ="nav">
      <ul>
        <li><a href="/">Home Page</a></li>
        <li><a href="/continents">Continents</a></li>
        <li><a href="/countries">Countries</a></li>
        <li><a href="/cities">Cities</a></li>
      </ul>
  </div>


  <%= yield %>
</body>
</html>
