<h1>Here you can add where you've been or where you'd like to go.</h1>

<h3>Where To?</h3>

<form action="/visited" method="POST">
  <!-- Eventually make this a drop down with the 7 continents -->
  <label for="continent">Continent:</label>
  <input required type="text" placeholder="e.g. Europe" id="continent" name="continent">

  <label for="country">Country:</label>
  <input required type="text" placeholder="e.g. Italy" id="country" name="country">

  <label for="city">City:</label>
  <input required type="text" placeholder="e.g. Rome" id="city" name="city">


  <label for="sights">Sight:</label>
  <input required type="text" placeholder="e.g. Trevi Fountain" id="sight" name="sight">
  <br>
  <br>


  <input type="radio" name="status" value="been" id="been">
  <label for="been">Add to visited places</label>
  <input type="radio" name="status" value="going" id="going">
  <label for="going">Add to wishlist</label>

</form>
