<h1>Here you can add where you've been or where you'd like to go.</h1>

<h3>Where To?</h3>

<form action="/visited" method="POST">
  <!-- Eventually make this a drop down with the 7 continents -->

  <select name="continent" id="continent">
    <option value="" selected="selected" disabled>Continent</option>
    <option value="Africa">Africa</option>
    <option value="Asia">Asia</option>
    <option value="Antarctica">Antarctica</option>
    <option value="Australia">Australia</option>
    <option value="Europe">Europe</option>
    <option value="North America">North America</option>
    <option value="South America">South America</option>

  </select>
  <!-- <label for="continent">Continent:</label>
  <input required type="text" placeholder="e.g. Europe" id="continent" name="continent"> -->

  <label for="country">Country:</label>
  <input required type="text" placeholder="e.g. Italy" id="country" name="country">

  <label for="city">City:</label>
  <input required type="text" placeholder="e.g. Rome" id="city" name="city">


  <label for="sights">Sight:</label>
  <input required type="text" placeholder="e.g. Trevi Fountain" id="sight" name="sight">
  <br>
  <br>


  <input type="radio" name="status" value="been" id="been">
  <label for="been">Add to visited places</label>
  <input type="radio" name="status" value="going" id="going">
  <label for="going">Add to wishlist</label>
  <br>
  <br>
  <input type="submit" value="Submit">

</form>
