<h1>Where did you go?</h1>

<form action="/visited" method="POST">
  <!-- Eventually make this a drop down with the 7 continents -->
  <label for="continent">Continent:</label>
  <input required type="text" placeholder="e.g. Europe" id="continent" name="continent">

  <label for="country">Country:</label>
  <input required type="text" placeholder="e.g. Italy" id="country" name="country">

  <label for="city">City:</label>
  <input required type="text" placeholder="e.g. Rome" id="city" name="city">

<h1>What sights did you see?</h1>

  <label for="sights">Sight:</label>
  <input required type="text" placeholder="e.g. Trevi Fountain" id="sight" name="sight">

</form>
