<h1>First add a continent</h1>

<h3>Where To?</h3>

<form action="/visited/continents/new" method="POST">

  <select name="continent" id="continent">
    <option value="" selected="selected" disabled>Continent</option>
    <option value="Africa">Africa</option>
    <option value="Asia">Asia</option>
    <option value="Antarctica">Antarctica</option>
    <option value="Australia">Australia</option>
    <option value="Europe">Europe</option>
    <option value="North America">North America</option>
    <option value="South America">South America</option>
  </select>

  <input type="submit" value="Submit">

</form>
