<h1>Cities Added</h1>


<% for city in @cities %>
  <p><%= city.name() %>, <%= city.country %></p>
  <button onclick="window.location.href = '/cities/<%= city.id() %>/edit';">Edit City</button>
<% end %>
