<h1>Add a city here</h1>

<h3>Where To?</h3>

<form action="/cities" method="POST">


  <label for="city">City:</label>
  <input required type="text" placeholder="e.g. Venice" id="city" name="name">
  <br>
  <br>


  <button type="Submit">Submit</button>

</form>
