<h1>Edit a country here</h1>

<h3></h3>

<form action="/countries/<%= @country.id() %>" method="POST">


  <label for="country">Country:</label>
  <input required type="text" value="<%= @country.name() %>" id="country" name="name">
  <br>

  <br>


  <button type="Submit">Submit</button>

</form>
