<h1><%= @country.name %></h1>


<h4>Add a city in <%= @country.name %></h4>

<form action="/cities" method="POST">


  <label for="city"></label>
  <input required type="text" placeholder="City Name" id="city" name="name">
  <br>
  <br>

  <input type="radio" name="status" value="visited" id="visited">
    <label for="visited">Add to visited</label>
  <input type="radio" name="status" value="going" id="going">
    <label for="going">Add to wishlist</label>

<br>
<br>
  <button type="Submit">Submit</button>

</form>


<h2>Cities Visited</h2>

<!-- for city in @cities
  if status=visited
    p city
  end
end -->

<h2>Cities Still to See</h2>
<hr>

<!-- for city in @cities
  if status=going
    p city
  end
end -->


<h2>Sights Seen</h2>
<h2>Sights Still to See</h2>
