<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class ="title"
  <h1> Welcome to <a href="">WhereTo?</a></h1>
</div>
<h3>We promise 3 things:</h3>
<ul>
  <li style="font-size:30px">Functionality.</li>
  <li style="font-size:30px">Palm trees on every page.</li>
  <li style="font-size:30px">Poor Man's Javascript.</li>
</ul>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<
