<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class ="title"
  <h1> Welcome to <a href="">WhereTo?</a></h1>
</div>
<h4>We promise 3 things:</h4>
<ul>
  <li>Functionality.</li>
  <li>Palm trees on every page.</li>
  <li>Poor Man's Javascript.</li>
</ul>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<
